*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* ===== HERO ===== */
.hero{
    height:100vh;
    background-image: url("sholat.jpeg"); /* GANTI FOTO DI SINI */
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.55);
}

/* ===== ISI TENGAH ===== */
.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    color:white;
    z-index:2;
}

.hero-content h1{
    font-size:42px;
}

.hero-content p{
    margin:10px 0 25px;
    font-size:18px;
}

/* ===== MENU TENGAH ===== */
.menu-tengah{
    display:flex;
    gap:15px;
    justify-content:center;
    flex-wrap:wrap;
}

.menu-tengah a{
    text-decoration:none;
    padding:12px 26px;
    background:#1abc9c;
    color:white;
    border-radius:30px;
    transition:0.3s;
}

.menu-tengah a:hover{
    transform:translateY(-6px);
    background:#16a085;
}

/* ===== PROFIL MENYAMPING ===== */
.profil-section{
    display:flex;
    gap:40px;
    padding:60px 10%;
    background:#f2f2f2;
}

.profil-kiri, .profil-kanan{
    flex:1;
}

/* RESPONSIVE */
@media(max-width:768px){
    .profil-section{
        flex-direction:column;
    }
}